EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_FRONTEND_WEB_URL=
EXPO_PUBLIC_BACKEND_API_URL=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SIGNUP_CAPTCHA_ENABLED=false
EXPO_PUBLIC_NATIVE_ENTRY_FLOW_ENABLED=true
